(
    spritesheet_width: 128,
    spritesheet_height: 192,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 63,
            height: 95,
        ),
        (
            x: 64,
            y: 0,
            width: 127,
            height: 95,
        ),
        (
            x: 0,
            y: 96,
            width: 63,
            height: 191,
        ),
        (
            x: 64,
            y: 96,
            width: 127,
            height: 191,
        ),
    ],
)
